/*
 * Dracula Color Palette
 * https://github.com/dracula/dracula-theme#color-palette
 */

$color-background: #282a36;
$color-current: #44475a;
$color-selection: #53576d;
$color-foreground: #f8f8f2;
$color-comment: #6272a4;

$color-cyan: #8be9fd;
$color-green: #50fa7b;
$color-orange: #ffb86c;
$color-pink: #ff79c6;
$color-purple: #bd93f9;
$color-red: #ff5555;
$color-yellow: #f1fa8c;

$font-sans-variable: "Fira Sans", "Helvetica Neue", sans-serif;
$font-sans-fallback: "Fira Sans", "Helvetica Neue", sans-serif;
$font-sans-condensed-variable: "Fira Sans Condensed", "Helvetica Neue", sans-serif;
$font-sans-condensed-fallback: "Fira Sans Condensed", "Helvetica Neue", sans-serif;
$font-serif: "Playfair Display", serif;
$font-mono: "Fantasque Sans Mono", monospace;

/*
 * Inspired by true events
 * https://www.jonoalderson.com/conjecture/its-time-for-modern-css-to-kill-the-spa/
 */
@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.3s ease both;
}

@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*
 * General
 */

html {
  background: $color-background;
  font-size: 120%;
}

hr {
  display: none;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  color: $color-comment;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-condensed-fallback;
  font-weight: 600;
  font-style: normal;
}

@supports (font-variation-settings: normal) {
  h1, h2, h3, h4, h5, h6 { font-family: $font-sans-condensed-variable; }
}

code {
  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;

  background-color: $color-selection;
}

pre {
  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;

  padding: 1rem;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
  text-align: justify;

  // white-space: pre-wrap;       /* Since CSS 2.1 */
  // white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  // white-space: -pre-wrap;      /* Opera 4-6 */
  // white-space: -o-pre-wrap;    /* Opera 7 */
  // word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// blockquote p {
//   margin: 0;
// }

// blockquote p + p {
//   margin-top: 0; /* space between paragraphs */
// }

// blockquote ul, blockquote ul li {
//   margin: 0;
//   padding: 0 auto 0 auto;
//   line-height: 1rem;
// }

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-top: 1px solid $color-comment;
  border-bottom: 1px solid $color-comment;
  padding: 0.5rem;
  text-align: left;
}

tr:first-child th,
tr:first-child td {
  border-top: 3px double $color-comment;
}

tr:last-child th,
tr:last-child td {
  border-bottom: 3px double $color-comment;
}

th {
  background-color: $color-background;
  font-weight: 400;
}

tr:nth-child(0) {
  background-color: $color-background;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: .85em;
  white-space: nowrap;

  border: 2px solid $color-current;
  box-shadow: 2px 2px $color-comment;

  color: $color-cyan;

  font-family: $font-sans-fallback;
  font-size: .85em;
  font-weight: 400;
  letter-spacing: .05em;
}

@supports (font-variation-settings: normal) {
  kbd { font-family: $font-sans-variable; }
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.rounded {
  border-radius: 50%;
}

.inline-image {
  float: left;
  width: 20%;
  margin: 1.5rem;
}

.opacity-25 {
  opacity: 25%;
}

/*
 * Background
 */

#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

#background img {
  height: 120vh;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 120%;

  /* Fade from top to bottom and left to right (for Chrome, Safari) */
  -webkit-mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), 
    linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  /* Thank you ChatGPT */
  -webkit-mask-composite: destination-in;

  /* Fade from top to bottom and left to right (Standard) */
  mask-image: 
    linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), 
    linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  /* Standard */
  mask-composite: intersect;
}

/*
 * Content
 */

#content {
  margin: auto;
  max-width: 45rem;

  font-size: 1em;
}

.fit-embed {
  width: 100%;
}

#content .flex {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

#content .flex .flex-item {
  flex: 1;
}


/*
 * Header
 */

header {
  margin: 2rem 0 2rem 0;
  padding: 1rem;

  background: $color-current;
  color: $color-foreground;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;

  box-shadow: 4px 4px 0 0 rgba(0,0,0,.15);
}

header a {
  color: $color-orange;
  text-decoration: none;

  transition: color .2s ease-out, background 1s ease-in, text-decoration-color .2s ease-out;
}

header a:hover {
  color: $color-yellow;
}

header .grid {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  header .grid {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header .grid .header-nav {
    display: none;
  }
}

header .grid .header-title {
  margin: auto 1rem auto 1rem;
}

header .grid .header-logo {
}

header .grid .header-title p {
  padding: 0;
}

header .grid .header-nav {
  grid-column: 3;
  grid-row: 1;

  padding: 0;
  text-align: right;

  margin: auto 1rem auto auto;

  list-style-type: none;
}

/* Default: show full name, hide short name */
header .grid .header-nav .short-name {
  display: none;
}
header .grid .header-nav .full-name {
  display: inline;
}

/* Mobile: show short name, hide full name */
@media (max-width: 864px) {
  header .grid .header-nav .short-name {
    display: inline;
  }
  header .grid .header-nav .full-name {
    display: none;
  }
}

header .grid .header-nav li {
  display: inline;
}

/**
 * Sidebar
 */

.sidebar-toggle {
  display: none;
}

.sidebar-toggle-label {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: $color-foreground;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 250px;
  height: 100%;

  background: $color-background;
  color: $color-foreground;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;

  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 640px) {
  .sidebar-toggle-label {
    display: block;
    grid-column: 3;
    grid-row: 1;
    margin: auto 1rem auto auto;
  }

  .sidebar {
    display: block;
  }

  .sidebar-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }
}

.sidebar-nav {
  list-style-type: none;
  padding: 1rem;
}

.sidebar-nav li {
  margin: 1rem 0;
}

.sidebar-nav li a {
  color: $color-foreground;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: $color-yellow;
}

/*
 * Breadcrumbs
 */

nav#breadcrumbs {
  color: $color-foreground;
  background: url('/assets/matrix.gif') no-repeat $color-selection;
  background-size: cover;
  
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color-cyan;
  border-radius: 5px;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;

  box-shadow: 4px 4px 0 0 rgba(0,0,0,.15);
}

nav#breadcrumbs ul {
  background-color: rgba(40, 42, 54, 0.8);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  margin: 0;
  padding: 0.2rem 0 0.4rem 2rem;

  list-style-type: none;
}

nav#breadcrumbs ul li {
  display: inline;
}

nav#breadcrumbs ul li a {
  color: $color-yellow;
  text-shadow: 1px 1px 2px pink;

  transition: color .2s ease-out, background 1s ease-in, text-decoration-color .2s ease-out;
}

nav#breadcrumbs ul li a:hover {
  color: $color-orange;
}

/*
 * Main
 */

main {
  margin: 0 auto 2rem auto;

  font-family: $font-sans-fallback;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
}

@supports (font-variation-settings: normal) {
  main { font-family: $font-sans-variable; }
}

main img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

main .main-head {
  padding: 0.5rem 2rem 0.5rem 2rem;
  
  background: transparent;
  color: $color-foreground;
}

main .main-head blockquote {
  padding: 1rem;

  line-height: 1.4rem;

  font-family: $font-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
  
  background: transparent;
  color: $color-foreground;
}

main .main-head .main-head-meta {
  padding-bottom: 1em;
}

main .main-content {
  padding: 1rem 2rem 1rem 2rem;

  background: $color-current;
  color: $color-foreground;

  line-height: 1.6rem;

  box-shadow: 4px 4px 0 0 rgba(0,0,0,.15);
}

main article .main-content {
  h1, h2 {
  text-decoration: underline double $color-orange;
  text-decoration-thickness: 0.01rem;
  // text-underline-offset: 0.3rem;
  }
}

main article .main-content {
  h1::before {
    content: "# ";
  }
  h2::before {
    content: "## ";
  }
  h3::before {
    content: "### ";
  }
  h4::before {
    content: "#### ";
  }
  h5::before {
    content: "##### ";
  }
  h6::before {
    content: "###### ";
  }
  code::before, code::after {
    content: "`";
  }
  pre code::before, pre code::after {
    content: none;
  }
}

main .main-content a,
main .main-head a {
  color: $color-red;
  text-decoration: $color-current underline wavy;
  text-underline-offset: 0.3rem;

  transition: color .2s ease-out, background 1s ease-in, text-decoration-color .2s ease-out;
}

main .main-content a:hover,
main .main-head a:hover {
  color: $color-pink;
  text-decoration: $color-yellow underline wavy;
}

main .main-content blockquote {
  margin: 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  background: $color-background;
  font-style: italic;
}

main .main-list {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;

  background: $color-current;
  color: $color-foreground;

  line-height: 1.6rem;

  box-shadow: 4px 4px 0 0 rgba(0,0,0,.15);
}

main .main-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .main-list ul li {
  margin: 0;
  padding: 0;
}

main .main-list .recursive .main-list-item {
  margin-left: 2rem;
}

main .main-list .main-list-item {
  display: block;

  margin: 0.5rem;
  padding: 0.5rem;

  border-radius: 5px;

  color: $color-background;
  text-decoration: none;

  transition: color .2s ease-out, background .2s ease-in, text-decoration-color .2s ease-out;
}

main .main-list .main-list-item:hover {
  background: $color-background;
  color: $color-foreground;
  text-decoration: none;
}

main .main-list .main-list-item .main-list-meta {
  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
  color: $color-comment;

  transition: color .2s ease-out, background .2s ease-in, text-decoration-color .2s ease-out;
}

main .main-list .main-list-item:hover .main-list-meta {
  color: $color-foreground;
}

main .main-list .main-list-item .main-list-link {
  padding-left: 0.5rem;
  color: $color-foreground;
}

main .main-list .main-list-item .main-list-link {
  color: $color-foreground;
  text-decoration: $color-current underline wavy;
  text-underline-offset: 0.3rem;

  transition: color .2s ease-out, background 1s ease-in, text-decoration-color .2s ease-out;
}

main .main-list .main-list-item:hover .main-list-link {
  color: $color-pink;
}

main .main-list .recursive .main-list-item .main-list-link {
  color: $color-red;
}

main .main-list .recursive .main-list-item:hover .main-list-link {
  color: $color-green;
}

/*
 * Posts
 */

main .latest-posts {
  margin: 0;
  padding: 0;

  background: $color-current;
  color: $color-foreground;
}

main .latest-posts .main-list .main-list-item .main-list-link {
  color: $color-red;
}

main .latest-posts .main-list .main-list-item:hover .main-list-link {
  color: $color-cyan;
}

/*
 * Pagination
 */

main .main-pagination {
  margin: 1.5rem auto auto auto;
  padding: 0.5rem;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  text-align: center;

  background: $color-current;
  color: $color-foreground;

  opacity: 0.5;

  transition: opacity .2s ease-out, background 1s ease-in;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color-cyan;
  border-radius: 5px;
}

main .main-pagination:hover {
  opacity: 1;
}

main .main-pagination a {
  color: $color-purple;

  transition: color .2s ease-out, background 1s ease-in, text-decoration-color .2s ease-out;
}

main .main-pagination a:hover {
  color: $color-cyan;
  text-decoration: none;
}

/*
 * Essential
 */

main .essential {
  padding: 1rem 0 1rem 0;

  font-size: 0.9rem;
}

main .essential-intro {
  margin: 0;
  padding: 0.5rem;
}

/* Inspired by true events
 * https://css-tricks.com/introduction-fr-css-unit/
 */
main .essential .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 600px) {
  main .essential .grid-big {
    grid-template-columns: 1fr;
  }
}

main .essential .grid-big {
  grid-gap: 1rem;
}

main .essential .grid-small {
  grid-gap: 0;
}

main .essential .grid .essential-item {
  display: grid;
  grid-template-rows: 1fr auto; /* content grows, image row sticks to bottom */
  padding: 1rem;

  background: $color-background;

  transition: transform 0.2s;
}

main .essential .grid .essential-item .recursive li::before {
  content: "[";
}

main .essential .grid .essential-item .recursive li::after {
  content: "]";
}

main .essential .grid .essential-item:hover,
main .essential .grid .essential-item:focus {
  transform: translate(2px, 2px);
}

main .essential .grid .essential-item-header {
  text-align: center;
}

main .essential .grid .essential-item-content {
  margin: 1rem 0 1rem 0;
}

main .essential .grid .essential-item-link {
  text-decoration: none;
  opacity: 0.5;

  transition: opacity .2s ease-out, background 1s ease-in;
}

main .essential .grid .essential-item-link:hover {
  opacity: 1;
}

main .essential .grid .essential-image {
}

main .essential .grid .essential-icon {
  text-align: center;
  font-size: 4rem;
}

main .essential .grid .essential-item-footer {
  text-align: center;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
}

main .essential .grid .essential-item-footer span {
  white-space: nowrap;
}

main .essential .grid .essential-item-footer .recursive {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/*
 * Now Playing
 */

.main-container {
  width: 100%;
}

.main-wrapper {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.main-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.now-playing-container {
  position: absolute;
  top: 5%;
  right: 3.5%;
  width: 14rem;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: 0.7rem;

  line-height: 1rem !important;
  text-align: right;
}

.now-playing-container a {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: start;
  justify-items: end;
  
  color: $color-foreground !important;

  text-decoration: none !important;

  opacity: 0.5;

  transition: color .2s ease-in-out, opacity .2s ease-in-out !important;
}

.now-playing-container a.no-cover {
  grid-template-columns: 1fr;
  gap: 0;
}

.now-playing-container a:hover {
  color: $color-purple;

  opacity: 1;
}

.now-playing-container #now-playing-status {
  color: $color-purple !important;
}

.now-playing-container .now-playing-info {
  min-width: 0;
  align-self: center;
}

.now-playing-container .now-playing-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.now-playing-container .now-playing-metadata-artist {
}

.now-playing-container .now-playing-metadata-title {
  font-weight: bold;
}

.now-playing-container .now-playing-metadata-release {
  font-style: italic;
}

.now-playing-container .now-playing-album-art img {
  display: block;
  width: 96px;
  border-radius: 12px;
}

/*
 * Footer
 */

footer {
  align-items: center;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: start;
}

@media (max-width: 768px) {
  footer .grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

footer .main-links {
  background: $color-current;

  box-shadow: 4px 4px 0 0 rgba(0,0,0,.15);
}

footer .main-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  text-align: center;

  list-style-type: none;
}

footer .main-links ul li {
  padding: 0.5rem;

  opacity: 0.5;

  transition: opacity .2s ease-out, background 1s ease-in;
}

footer .main-links ul li:hover {
  padding: 0.5rem;

  opacity: 1;
}

footer .main-links a {
  text-decoration: none;

  transition: color .2s ease-out, background 1s ease-in;

  color: $color-foreground;

  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: 0.9rem;
}

footer .main-links a:hover {
  color: $color-yellow;
}

footer .bye {
  margin: 2rem 0 2rem 0;
  opacity: 0.5;

  text-align: center;

  transition: opacity .2s ease-out, background 1s ease-in;
}

footer .bye:hover {
  opacity: 1;
}

footer .bye a {
  text-decoration: none;
}

/*
 * Modal window
 * https://www.w3schools.com/howto/howto_css_modals.asp
 */

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scroll */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  text-align: center;
  filter: drop-shadow(5px 5px 30px black);
}

@media all and (min-width: 0px) and (max-width: 480px) {
  .modal-content {
      margin: 60% auto;
      width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 576px) {
  .modal-content {
      margin: 50% auto;
      width: 90%;
  }
}

@media all and (min-width: 576px) and (max-width: 720px) {
  .modal-content {
      margin: 30% auto;
      width: 90%;
  }
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  .modal-content {
      margin: 20% auto;
      width: 80%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1200px) {
  .modal-content {
      margin: 20% auto;
      width: 70%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  .modal-content {
      margin: 20% auto;
      width: 60%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1980px) {
  .modal-content {
      margin: 10% auto;
      width: 50%;
  }
}

/**
 * Inspired by true events
 * https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
 */
.embed-container {
  position: relative; 
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.embed-container-wide {
  padding-bottom: 56.25%;
}

.embed-container-small {
  padding-bottom: 10%;
}

@media (max-width: 856px) {
  .embed-container-small {
    padding-bottom: 15%;
  }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*
 * FX
 */

/* Blink */

.animate-blink {
  animation: opacity 1s infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

/* Wiggle */

.animate-wiggle {
  animation: wiggle 2s linear infinite;
}
.hover-wiggle:hover {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* Float */

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-1rem);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0);
	}
}

/* CRT */
/* http://aleclownes.com/2017/02/01/crt-display.html */

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
