<div id="modal-node">
  <template id="essential-modal">
    <div id="modal" class="modal" role="dialog" aria-modal="true" aria-label="YouTube video player">
      <div class="modal-content">
        <button type="button" class="modal-close" aria-label="Close video">×</button>
        <div class="embed-container embed-container-wide">
          <iframe width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </template>
</div>
