<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        <section class="main-content">
          {{ .Content }}

          <section class="latest-posts">
            <h2>Latest Posts</h2>

            {{ $posts := where .Site.RegularPages "Section" "posts" }}
            {{ $paginator := .Paginate $posts }}
            {{ .Scratch.Set "pagination" $paginator }}

            <div class="latest-posts-list">
              {{ range $index, $post := ($paginator.Pages).ByDate.Reverse }}
              <a class="latest-posts-item" href="{{ .Permalink }}">
                <span class="latest-posts-meta">
                  <small>-rw-r--r--</small>
                </span>
                <span class="latest-posts-meta">
                  <small>[ {{ time.Format "Jan 2006" .Date }} ] :: </small>
                </span>
                <span class="latest-posts-link">
                  {{ .Title }}
                </span>
              </a>
              {{ end }}
            </div>
          </section>

          {{ partial "pagination.html" . }}
        </section>
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
