<div class="now-playing-container crt">
  <a href="" id="now-playing" data-username="">
    <div class="now-playing-album-art">
      <img id="now-playing-cover" alt="" loading="lazy" />
    </div>

    <div class="now-playing-info">
      <div id="now-playing-status">
        🎧 Loading track info...
      </div>

      <div id="now-playing-metadata">
      </div>
    </div>
  </a>
</div>

{{ $listenBrainz := resources.Get "/ts/listenbrainz.ts" | js.Build }}

<script src="{{ $listenBrainz.RelPermalink }}"></script>
