<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        {{ with .Content }}
        <section class="main-content">
          {{ . }}
        </section>
        {{ end }}

        <section class="latest-posts">
          {{ $posts := where .Site.RegularPages "Section" "blog" }}
          {{ $paginator := .Paginate $posts }}
          {{ .Scratch.Set "pagination" $paginator }}

          <div class="main-list">
            <ul>
              {{ range $index, $post := ($paginator.Pages).ByDate.Reverse }}
              <li>
                <a class="main-list-item" href="{{ .Permalink }}" title="{{ .Title }}">
                  <span class="main-list-meta">
                    <small>-rw-r--r--</small>
                  </span>
                  <span class="main-list-meta">
                    <small>[ {{ time.Format "Jan 2006" .Date }} ] :: </small>
                  </span>
                  <span class="main-list-link">
                    {{ .Title }}
                  </span>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </section>

        {{ partial "pagination.html" . }}
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
