<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        <section class="main-content">
          {{ .Content }}

          {{ $posts := where .Site.RegularPages "Section" "posts" }}
          {{ $paginator := .Paginate $posts }}

          <section class="latest-posts">
            <h1>Latest Posts</h1>

            <div class="latest-posts-list">
            {{ range $index, $post := ($paginator.Pages).ByDate.Reverse }}
              <div class="latest-posts-item">
                <p>
                  <span>
                    <small><tt>-rw-r--r--</tt></small>
                  </span>
                  <span>
                    <small><tt>[ {{ time.Format "Jan 2006" .Date }} ] :: </tt></small>
                  </span>
                  <span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </span>
                </p>
              </div>
            {{ end }}
            </div>
          </section>

          <section class="main-pagination">
            {{ if gt $paginator.TotalPages 1 }}
              {{ $total := $paginator.TotalPages }}
              {{ $prev := sub $paginator.PageNumber 1 }}
              {{ $curr := $paginator.PageNumber }}
              {{ $next := add 1 $paginator.PageNumber }}

              <div class="main-pagination">
                <small><tt>
                  <span>
                    {{ if $paginator.HasPrev }}
                      <a href="{{ $paginator.Prev.URL | absURL }}">« {{ $prev }}/{{ $total }}</a>
                    {{ end }}
                  </span>
                  <span>
                    [ {{ $curr }} ]
                  </span>
                  <span>
                    {{ if $paginator.HasNext }}
                      <a href="{{ $paginator.Next.URL | absURL }}">{{ $next }}/{{ $total }} »</a>
                    {{ end }}
                  </span>
                </tt></small>
              </div>
            {{ end }}
          </section>
        </section>
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
