<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        <section class="main-content">
          {{ .Content }}

          <section class="latest-posts">
            <h1>Latest Posts</h1>

            {{ $posts := where .Site.RegularPages "Section" "posts" }}
            {{ $paginator := .Paginate $posts }}
            {{ .Scratch.Set "pagination" $paginator }}

            <div class="latest-posts-list">
            {{ range $index, $post := ($paginator.Pages).ByDate.Reverse }}
              <div class="latest-posts-item">
                <p>
                  <span>
                    <small><tt>-rw-r--r--</tt></small>
                  </span>
                  <span>
                    <small><tt>[ {{ time.Format "Jan 2006" .Date }} ] :: </tt></small>
                  </span>
                  <span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </span>
                </p>
              </div>
            {{ end }}
            </div>
          </section>

          {{ partial "pagination.html" . }}
        </section>
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
