<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}

    <main id="main">
      <section class="main-content">
        <ul reversed class="list">
          {{ range .Pages }}
            <li>
              <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
              <hr class="hr-list">
              <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "02/01/06" .Date }}</time>
            </li>
            {{ end }}
        </ul>
      </section>
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
