<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        <article>
          <section class="main-head crt">
            <div class="main-head-meta">
              <h2 class="{{ if .Params.hide_title }}hidden{{ end }}">{{ .Title }}</h2>

              <span>📅</span>
              <date>
                {{ .Date.Format "02 . 01 . 2006" }}
              </date>
              <span>—</span>
              {{ $taxonomy := "tags" }}
              {{ with .Param $taxonomy }}
                {{ range $index, $tag := . }}
                  {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) }}
                  <span>🏷️ <a href="{{ .Permalink }}">{{ $tag | urlize }}</a></span>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          </section>

          <section class="main-content">
            {{ .Content }}
          </section>
        </article>
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
