{{ define "main" }}
  <article>
    <section class="main-head crt">
      <div class="main-head-meta">
        <div class="main-head-title">
          <h1 class="{{ if .Params.hide_title }}hidden{{ end }}">{{ .Title }}</h1>
        </div>

        <div class="main-head-info">
          <div class="main-head-date {{ if .Params.hide_date }}hidden{{ end }}" title="First created">
            <span>📅</span>
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format "02 . 01 . 2006" }}
            </time>
          </div>
          <div class="main-head-date main-head-updated {{ if or .Params.hide_date (not (.Lastmod.After .Date)) }}hidden{{ end }}" title="Last updated">
            <span>✏️</span>
            <time datetime="{{ .Lastmod.Format "2006-01-02" }}">
              {{ .Lastmod.Format "02 . 01 . 2006" }}
            </time>
          </div>
          <div class="main-head-tags {{ if .Params.hide_tags }}hidden{{ end }}">
            <span>—</span>
            {{ $taxonomy := "tags" }}
            {{ with .Param $taxonomy }}
              {{ range $index, $tag := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) }}
                <span class="main-head-tag"><a href="{{ .Permalink }}">🏷️ {{ $tag | urlize }}</a></span>
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <section class="main-content">
      {{ .Content }}
    </section>
  </article>
{{ end }}
