<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "background.html" . }}

    <div id="content">
      {{ partial "header.html" . }}

      <main id="main">
        <section class="main-head crt">
          <blockquote>{{ .Params.intro | markdownify }}</blockquote>
        </section>

        <section class="main-content">
          {{ .Content }}

          {{ partial "essential/modal-youtube.html" }}
        </section>
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
